In [6]:
import pandas as pd
import advertools

In [9]:
posts = ["You heard the mans fellas Merry Christmas üìâüìâüìâüìâüìâ", "Some of the Best Offers of the Year!", "Going long on $DS ‚õ≥Ô∏è", "SHORT $JNJ NAO"]
emoji_summary = advertools.extract_emoji(posts)
emoji_summary

{'emoji': [['üìâ', 'üìâ', 'üìâ', 'üìâ', 'üìâ'], [], ['‚õ≥'], []],
 'emoji_text': [['chart decreasing',
   'chart decreasing',
   'chart decreasing',
   'chart decreasing',
   'chart decreasing'],
  [],
  ['flag in hole'],
  []],
 'emoji_flat': ['üìâ', 'üìâ', 'üìâ', 'üìâ', 'üìâ', '‚õ≥'],
 'emoji_flat_text': ['chart decreasing',
  'chart decreasing',
  'chart decreasing',
  'chart decreasing',
  'chart decreasing',
  'flag in hole'],
 'emoji_counts': [5, 0, 1, 0],
 'emoji_freq': [(0, 2), (1, 1), (5, 1)],
 'top_emoji': [('üìâ', 5), ('‚õ≥', 1)],
 'top_emoji_text': [('chart decreasing', 5), ('flag in hole', 1)],
 'top_emoji_groups': [('Objects', 5), ('Activities', 1)],
 'top_emoji_sub_groups': [('office', 5), ('sport', 1)],
 'overview': {'num_posts': 4,
  'num_emoji': 6,
  'emoji_per_post': 1.5,
  'unique_emoji': 2}}

In [12]:
tickers["Sector"]

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$129.34,-1.70,-1.297%,3.940958e+10,United States,1999.0,954555,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$31.52,0.21,0.671%,5.872844e+09,NaN,2016.0,4191643,Basic Industries,Aluminum
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.86,0.01,0.102%,1.232623e+09,NaN,2021.0,250154,Finance,Business Services
3,AAIC,Arlington Asset Investment Corp Class A (new),$4.01,-0.04,-0.988%,1.339511e+08,United States,NaN,219577,Consumer Services,Real Estate Investment Trusts
4,AAIC^B,Arlington Asset Investment Corp 7.00%,$23.80,0.02,0.084%,NaN,United States,NaN,401,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3073,ZTO,ZTO Express (Cayman) Inc. American Depositary ...,$28.46,-0.89,-3.032%,2.358964e+10,China,2016.0,3534441,Transportation,Trucking Freight/Courier Services
3074,ZTR,Virtus Total Return Fund Inc.,$9.48,0.15,1.608%,2.338017e+08,United States,1988.0,201265,NaN,NaN
3075,ZTS,Zoetis Inc. Class A Common Stock,$157.88,1.98,1.27%,7.504317e+10,United States,2013.0,1660514,Health Care,Major Pharmaceuticals
3076,ZUO,Zuora Inc. Class A Common Stock,$15.03,-0.30,-1.957%,1.818630e+09,NaN,2018.0,744629,Technology,Computer Software: Prepackaged Software
3077,ZYME,Zymeworks Inc. Common Shares,$30.53,-0.61,-1.959%,1.409388e+09,Canada,2017.0,239025,Health Care,Major Pharmaceuticals